{# HARITA -- global_toyota.html'deki #toyota-map + gosterge satiri.

   Tesis noktalari HTML olarak degil VERI olarak basiliyor: asagidaki
   <script type="application/json"> blogunu static/js/modules/map.js
   okuyup Leaflet'e veriyor. Boylece editor koordinat duzenleyebilir,
   HTML'e dokunmasi gerekmez. #}
{% import "blocks/_macros.html" as m with context %}
{%- set ayar = blok.settings %}
<section class="{{ m.kabuk_sinif(blok, 'tk-block') }}"{{ m.capa(blok) }}>
  {{- m.baslik(blok) }}
  <div id="{{ ayar.get('map_id', 'toyota-map') }}" class="tk-map__canvas"></div>
  {%- set gosterge = blok.items_of('legend') %}
  {%- if gosterge %}
  <p class="tk-map__legend">
    {%- for satir in gosterge %}
    {%- if not loop.first %}
    &nbsp;&nbsp;
    {%- endif %}
    <span class="tk-map__dot tk-map__dot--{{ satir.variant }}"></span> <span>{{ satir.title }}</span>
    {%- endfor %}
  </p>
  {%- endif %}
  {{- m.dipnot(blok) }}
  <script type="application/json" id="{{ ayar.get('map_id', 'toyota-map') }}-data">{{ map_payload(blok)|tojson }}</script>
</section>
