{#
  TEK sayfa sablonu. 4 ayri sayfa dosyasinin yerine gecti.
  Yaptigi is: sayfanin bloklarini sirayla dolasip her birini kendi
  parcasiyla basmak.
#}
{% extends "base.html" %}

{% block title %}{{ sayfa.title }}{% endblock %}
{% block body_class %}{{ sayfa.body_class }}{% endblock %}

{% block background %}
{# Arka plan gorseli tema CSS'inde varsayilan olarak tanimli; panelden
   baska bir gorsel secilirse satir ici stil onu ezer. #}
<div class="{{ sayfa.background_class }}"
     {%- if sayfa.background %} style="background-image:url('{{ url_for('static', filename=sayfa.background.path) }}')"{% endif %}
     aria-hidden="true"></div>
{% endblock %}

{% block extra_head %}
{%- for adres in sayfa.vendor.css %}
<link rel="stylesheet" href="{{ adres }}" />
{%- endfor %}
{% endblock %}

{% block content %}
{%- for blok in sayfa.blocks %}
{% include block_template(blok.type) %}
{%- endfor %}
{% endblock %}

{% block vendor_scripts %}
{%- for adres in sayfa.vendor.js %}
<script src="{{ adres }}"></script>
{%- endfor %}
{% endblock %}
